<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="ArffOutput"
   iconfile="AO.png"
   description="Output to ARFF file"
   tooltip="This step outputs rows to a WEKA ARFF (attribute relation file format) file"
   category="Output"
   classname="org.pentaho.di.arff.ArffOutputMeta">
   <libraries>
    <library name="arffoutput.jar"/>
    <library name="weka.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Output</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">ARFF Output</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">Outputs rows to a WEKA ARFF file</tooltip>
   </localized_tooltip>
   
</plugin>
